<div class="hcalRow">
<%#= content_tag(:div,sum_datas[:branch_count][branch_cd][:vacation],:class=>"hcalCell hcalVCell listTitle listR",:style=>"background-color:#{branche_info[:color]}") %>
<%= content_tag(:div,"-",:class=>"hcalCell hcalVCell listTitle",:style=>"background-color:#{branche_info[:color]}") %>
<%= content_tag(:div,"-",:class=>"hcalCell hcalVCell listTitle",:style=>"background-color:#{branche_info[:color]}") %>
</div>
<div class="hcalRow">
<%= content_tag(:div,"-",:class=>"hcalCell hcalVCell listTitle",:style=>"background-color:#{branche_info[:color]}") %>
<%= content_tag(:div,"-",:class=>"hcalCell hcalVCell listTitle",:style=>"background-color:#{branche_info[:color]}") %>
</div>
