<% content_for(:head){%>
<style type="text/css"><!--
table#tDateTbl tr td {display:block;width:100%;}
.listC{vertical-align: top;}
.alt{color: red;}
div#field2>div {margin:15px auto;width:90%;}




div.schedule_wrapper {padding:10px;}
table.schedule_table{ border-collapse: collapse; border-spacing: 0; margin-bottom: 12px}
table.schedule_table tr *{vertical-align: top;}
table.schedule_table tr th{font-weight:normal;}
table.schedule_table tr td{text-align:left;padding-left:10px;}

--></style>
<%= javascript_tag do %>
    $(function(){
        const el = document.querySelectorAll("table#tDateTbl tr td")
        Array.from(el).forEach((e)=>{
            e.removeAttribute("style");
        })
        if(window != window.parent){
            $("#header,#footer,#backHomeBtn,#link_box").css("display","none");
        }
    });
<% end } %>
    <div id="field2">
    <div>
        <div class="listC"><%= render :partial => "error_message" , :locals=>{:message_obj=>flash[:error_msgs],:style_class=>'err'} %></div>
        <div class="listC"><%= render :partial => "worker_common/wk_schedule" , :locals=>{:work_schedule=>@work_schedule,:day_info=>@day_info} %></div>
    </div>
    <%= render :partial => 'links' , :locals=>{:back_links => @links} %>

</div>
